{% extends "accounts/base.html" %}

{% block title %}パスワード変更{% endblock %}

{% block headertitle %}パスワード変更{% endblock %}

{% block content %}
<div class="pass_change_container">
  <div class="pass_change_group">
      <h2 class="pass_change_title">パスワード変更</h2>
          <form method="POST">
              {% csrf_token %}
              {% comment %} {{ form.non_field_errors }} {% endcomment %}
              {% if form.non_field_errors %}
              <div class="pass_form" role="alert">
                  {% for error in form.non_field_errors %}
                  <p{% if forloop.last %} class=""{% endif %}>{{ error }}</p>
                  {% endfor %}
              </div>
              {% endif %}
              {% for field in form %}
              <div class="pass_form">
                  <label class="" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                  {{ field }}
                  {% if field.errors %}
                  <div class="pass_form" role="alert">
                      {% for error in field.errors %}
                      <p{% if forloop.last %} class=""{% endif %}>{{ error }}</p>
                      {% endfor %}
                  </div>
                  {% endif %}
                  {% comment %} {{ field.errors }} {% endcomment %}
              </div>
              {% endfor %}

              <div class="button_area">
                <div class="button_oya">
                  <button type="submit" class="btn_chenge" onClick="javascript:history.go(-1);">戻る</button>
                </div>
                <div class="button_oya">
                  <button type="submit" class="btn_chenge">送信</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}