asgiref==3.7.2
asttokens==2.4.0
backcall==0.2.0
blis==0.7.11
catalogue==2.0.10
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
confection==0.1.3
contourpy==1.1.1
cryptography==38.0.4
cycler==0.12.1
cymem==2.0.8
decorator==5.1.1
defusedxml==0.7.1
dictknife==0.14.0
Django==4.1.3
django-allauth==0.51.0
django-bootstrap-datepicker-plus==5.0.3
django-cleanup==8.0.0
django-ipware==5.0.2
django-structlog==6.0.0
django-widget-tweaks==1.4.12
exceptiongroup==1.1.3
executing==2.0.0
fonttools==4.43.1
ginza==5.1.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.15.0
hyperframe==6.0.1
idna==3.4
ipython==8.16.1
ja-ginza==5.1.3
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
langcodes==3.3.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
murmurhash==1.0.10
networkx==3.2
nlplot==1.6.0
numpy==1.26.1
oauthlib==3.2.2
packaging==23.2
pandas==2.1.1
parso==0.8.3
pathy==0.10.3
pickleshare==0.7.5
Pillow==9.3.0
plac==1.4.0
plotly==5.18.0
preshed==3.0.9
priority==2.0.0
prompt-toolkit==3.0.39
pure-eval==0.2.2
pycparser==2.21
pydantic==1.10.5
Pygments==2.16.1
PyJWT==2.6.0
pyparsing==3.1.1
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3.post1
requests==2.28.1
requests-oauthlib==1.3.1
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
six==1.16.0
smart-open==6.4.0
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.4.3
srsly==2.4.8
stack-data==0.6.3
stripe==5.0.0
structlog==23.2.0
SudachiDict-core==20230927
SudachiPy==0.6.7
taskgroup==0.0.0a4
tenacity==8.2.3
thinc==8.1.12
threadpoolctl==3.2.0
tomli==2.0.1
tqdm==4.66.1
traitlets==5.12.0
typer==0.9.0
typing_extensions==4.5.0
tzdata==2022.6
urllib3==1.26.13
wasabi==1.1.2
wcwidth==0.2.8
wordcloud==1.9.2
wsproto==1.2.0
