{% extends "app/base.html" %}
{% load static %}
{% load humanize %}
{% block extra_js %}
    <script src="{% static 'js/scrollPos.js' %}"></script>
{% endblock extra_js %}

{% block content %}
    
<section class="orderseciton">
    <div class="search">
        <form method="POST" action="{% url 'movies' %}">
            {% csrf_token %}
            <div class="field has-addons has-addons-centered ">
                <p class="control">
                </p>
                <p class="control">
                    <input class="input" type="text" name="word" placeholder="検索したいワード……">
                </p>
                <p class="control">
                    <button type="submit" class="button is-primary">検索する</button>
                </p>
            </div>
        </form>
    </div>
</section>

{% if feature is False %}
    <div class="youtube">
        {% comment %} <iframe width="1920" height="720" src="https://www.youtube.com/embed/t433PEQGErc?autoplay=1&mute=1&rel=0&controls=0&v_load_policy=3&modestbranding=1&fs=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
        <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/{{ banner.key }}?vq=highres&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist={{ banner.key }}&amp;controls=0&amp;disablekb=1&amp;fs=0&amp;iv_load_policy=3&amp;showinfo=0&amp;modestbranding=1&amp;enablejsapi=1&amp;rel=0" style="opacity: 1; pointer-events: none;"></iframe>
    </div>
    
    {% if mylists %}
        <div class="title_box">
            <h2>マイリスト</h2>
            <a href="{% url 'mylist' %}">続きを見る</a>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for mylist in mylists %}
                    <div class="posters swiper-slide">
                        <div class="poster">
                            <img class="clickDetail" id="{{ mylist.movie_id }}" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ mylist.poster_path }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
    </div>
    {% endif %}

    {% if playing %}
        <div class="title_box">
            <h2>上映中</h2>
            <a href="{% url 'playing' %}">続きを見る</a>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for result in playing %}
                    <div class="posters swiper-slide">
                        <div class="poster">
                            <!-- <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ result.backdrop_path }}" alt=""> -->
                            <img class="clickDetail" id="{{ result.id }}" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ result.poster_path }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    {% endif %}

    {% if upcoming %}
        <div class="title_box">
            <h2>人気上昇中</h2>
            <a href="{% url 'upcoming' %}">続きを見る</a>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for result in upcoming %}
                    <div class="posters swiper-slide">
                        <div class="poster">
                            <!-- <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ result.backdrop_path }}" alt=""> -->
                            <img class="clickDetail" id="{{ result.id }}" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ result.poster_path }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    {% endif %}

{% else %}
    <div class="search_result">
        <h1>一致した映画一覧</h1>
    <div class="search" style="width: 100%; flex-wrap: wrap;">
        {% for result in searchResults %}
            <div class="reviewers">
                <div class="review_detail">
                    <img class="clickDetail" id="{{ result.id }}" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ result.poster_path }}" alt="">
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

    
<div id="easyModal" class="modal_custom">
    <div class="modal-content">
        <div class="modal-header">
            <img class="modalClose" src="{% static 'images/modalClose.svg' %}" alt="modalClose SVG" />
            <img class="movieBackground" src="" alt="映画背景画像" />
            <img class="moviePoster" src="" alt="映画ポスター" />
        </div>
        <div class="modal-body">
            <h1 class="modal_title"></h1>
                
            <ul class="genre_list genreList"></ul>
            
            <div class="flexContainer">
                <p class="modal_date"></p>
                <ul class="languageList"></ul>
            </div>

            <div class="reviewContainer flexContainer">
                <div class="starContainer">
                    <ul class="backReviewStars">
                        <li><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Star border" clip-path="url(#clip0_335_673)"> <path id="Vector" class="star" d="M33 13.86L22.215 12.93L18 3L13.785 12.945L3 13.86L11.19 20.955L8.73 31.5L18 25.905L27.27 31.5L24.825 20.955L33 13.86ZM18 23.1L12.36 26.505L13.86 20.085L8.88 15.765L15.45 15.195L18 9.15L20.565 15.21L27.135 15.78L22.155 20.1L23.655 26.52L18 23.1Z" fill="gray"/></g><defs><clipPath id="clip0_335_673"><rect width="36" height="36" fill="gray"/></clipPath></defs></svg></li>
                        <li><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Star border" clip-path="url(#clip0_335_673)"> <path id="Vector" class="star" d="M33 13.86L22.215 12.93L18 3L13.785 12.945L3 13.86L11.19 20.955L8.73 31.5L18 25.905L27.27 31.5L24.825 20.955L33 13.86ZM18 23.1L12.36 26.505L13.86 20.085L8.88 15.765L15.45 15.195L18 9.15L20.565 15.21L27.135 15.78L22.155 20.1L23.655 26.52L18 23.1Z" fill="gray"/></g><defs><clipPath id="clip0_335_673"><rect width="36" height="36" fill="gray"/></clipPath></defs></svg></li>
                        <li><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Star border" clip-path="url(#clip0_335_673)"> <path id="Vector" class="star" d="M33 13.86L22.215 12.93L18 3L13.785 12.945L3 13.86L11.19 20.955L8.73 31.5L18 25.905L27.27 31.5L24.825 20.955L33 13.86ZM18 23.1L12.36 26.505L13.86 20.085L8.88 15.765L15.45 15.195L18 9.15L20.565 15.21L27.135 15.78L22.155 20.1L23.655 26.52L18 23.1Z" fill="gray"/></g><defs><clipPath id="clip0_335_673"><rect width="36" height="36" fill="gray"/></clipPath></defs></svg></li>
                        <li><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Star border" clip-path="url(#clip0_335_673)"> <path id="Vector" class="star" d="M33 13.86L22.215 12.93L18 3L13.785 12.945L3 13.86L11.19 20.955L8.73 31.5L18 25.905L27.27 31.5L24.825 20.955L33 13.86ZM18 23.1L12.36 26.505L13.86 20.085L8.88 15.765L15.45 15.195L18 9.15L20.565 15.21L27.135 15.78L22.155 20.1L23.655 26.52L18 23.1Z" fill="gray"/></g><defs><clipPath id="clip0_335_673"><rect width="36" height="36" fill="gray"/></clipPath></defs></svg></li>
                        <li><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Star border" clip-path="url(#clip0_335_673)"> <path id="Vector" class="star" d="M33 13.86L22.215 12.93L18 3L13.785 12.945L3 13.86L11.19 20.955L8.73 31.5L18 25.905L27.27 31.5L24.825 20.955L33 13.86ZM18 23.1L12.36 26.505L13.86 20.085L8.88 15.765L15.45 15.195L18 9.15L20.565 15.21L27.135 15.78L22.155 20.1L23.655 26.52L18 23.1Z" fill="gray"/></g><defs><clipPath id="clip0_335_673"><rect width="36" height="36" fill="gray"/></clipPath></defs></svg></li>
                    </ul>
                    <ul class="reviewStars"></ul>
                </div>
                <p class="modal_review"></p>
            </div>

            <div class="modal_function">
                <a class="review_post flexColContainer" id="reviewButton" href="">
                    <img src="{% static 'images/rateReview.svg' %}" alt="review link">レビュー投稿
                </a>
                <button id="mylist" class="myListButton flexColContainer" type="submit">
                    <img src="{% static 'images/myList.svg' %}" alt="mylist add link">マイリスト登録
                </button>
                <button id="copyClipboard" class="flexColContainer" type="button">
                    <img src="{% static 'images/copyLink.svg' %}" alt="copy clipboard link">リンクをコピー
                </button>
            </div>

            <div class="video">
            </div>

            <div class="overviewContainer">
                <p>あらすじ</p>
                <p class="overview"></p>
            </div>
            
            <div class="moreDetailContainer flexColContainer">
                <div class="tabChanger">
                    <button id="detail" class="tabButton tabSelected">詳細</button>
                    <button id="reviewPost" class="tabButton">レビュー</button>
                </div>
                <div id="detailTab" class="tabContent tabActive">
                    <h3 class="cast">キャスト・スタッフ</h3>
                    <div class="cast_list"></div>
                </div>
                <div id="reviewTab" class="tabContent">
                    <ul class="reviewList"></ul>
                    <button id="review" type="submit">続きを見る&nbsp;&#9660;</button>
                </div>
            </div>
            
            <div class="similar swiper">
                <ul class="similar_list swiper-wrapper">
                    <li class="swiper-slide similarMovie">
                        {% comment %} <img class="clickDetail" id="{{ mylist.movie_id }}" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ mylist.poster_path }}" alt=""> {% endcomment %}
                    </li>
                </ul>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>

{% if movie_id %}
    <p class="titleId" id="{{ movie_id }}" type="hidden"></p>
{% endif %}
</section>

{% endblock %}